# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/

# Builds
dist/
build/
.cache/

# Icon Intermediates
icons/_trimmed_master.png
icons/_square_master.png
icons/mlb_trash_icon_orig.png